.appWrapper {
    background-color: rgb(219, 215, 219);
    text-align: center;
    margin: 0;
    padding: 10px 0 20px;
}

.title {
    font: 700 14px/25px sans-serif;
    color: #431147;
    margin: 0 0 10px;
    padding: 0;
}

.input__name {
    width: 140px;
    height: 17px;
    font: 400 11px/15px sans-serif;
    border-radius: 5px;
    padding: 1px 3px;
    margin-bottom: 15px;
}

.input__text {
    width: 180px;
    height: 80px;
    font: 400 11px/15px sans-serif;
    border: 1px solid #968d90;
    outline: transparent;
    border-radius: 5px;
    padding: 4px 3px;
    align-items: flex-start;
    margin-bottom: 15px;
}

.button {
    width: 140px;
    height: 27px;
    transition: all 0.5s ease-in-out;
} 

.button:hover {
    opacity: 0.5; 
}

.list {
    height: 60vh;
    width: 90%;
    background: #ffffff;
    padding: 9px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.botMessage {
    color: red;
    text-align: left;
}

.senderMessage {
    align-self: flex-start;
    font: 700 9px/10px sans-serif;
}

.userMessage {
    align-self: flex-end;
    color:  darkred;
    font: 700 9px/10px sans-serif;
}

.message {
    background-color: #A1A1A1;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 30px;
    width: 25%;
    color: #222;
}

.userMessage {
    text-align: right;
}

.messageDate {
    font: 700 9px/10px sans-serif;
}

.messageText {
    font: 700 12px/15px sans-serif;
}

.chatItem {
    display: block !important;
}